<h2 align="center">Listing Deleted Questions</h2>

<table id="myTable" class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Code</th>
      <th>Body</th>
      <th>Is_allowed</th>
      <th>Ans count</th>
      <th>Tags</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @assignments.each do |assignment| %>
      <tr>
        <td><%= assignment.title %></td>
        <td><%= assignment.code %></td>
        <td><%= raw (assignment.body).truncate(75) %></td>
        <td><%= assignment.is_allowed ? "true" : "false" %></td>
        <td><%= assignment.answers.size %></td>
        <td><%= assignment.tag_list %></td>
        <td><%= link_to 'Restore', paranoid_restore_path(id: assignment.id) %>
          <%= link_to 'Delete Forever',paranoid_delete_forever_path(id: assignment.id), data: { confirm: 'Are you sure?' }%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<script>
  $(document).ready(function(){
    $('#myTable').DataTable();
  });
</script>
