<p id="notice"><%= notice %></p>

<h1>Assignments</h1>
<div class="container-fluid">
<table id="myTable" class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Url</th>
      <th>Tags</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @assignments.each do |assignment| %>
      <tr>
        <td><%= assignment.title %></td>
        <td><%= assignment.body %></td>
        <td><%= assignment.url %></td>
        <td><%= assignment.tag_list %></td>
        <td><%= link_to 'Show', assignment %>
          <% if current_user %>
            <% if can? :update, assignment %>
              <%= link_to 'Edit', edit_assignment_path(assignment) %>
            <% end %>
            <% if can? :destroy, assignment %>
              <%= link_to 'Destroy', assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<% if can? :create, Assignment %>
<%= link_to 'New Assignment', new_assignment_path %>
<% end %>

<% if can? :create , User %>
<%= link_to "Invite",new_user_path %>
<% end %>

<script>
  $(document).ready(function(){
    $('#myTable').DataTable();
  });
</script>
