
<h2 align="center" class="page-header">New Assignment</h2>
<div class="col-md-6">
  <h2 align="Center">Form</h2>
<%= render 'form', assignment: @assignment %>
<%= link_to 'Back', assignments_path %>
</div>

<div class="col-md-6">
  <h2>Check for existing assignments</h2>
  <form class="" id="search-form">
    <%= text_field_tag :search  %>
    <%= submit_tag "Search" ,:id => "submit" %>
  </form>
  <div class="results"></div>
  <div id="codewars">
    <h4>Codewars question??? enter the slug here We'll fetch it for you</h4>
    <form class="" id="codewars-form">
      <%= text_field_tag :input %>
      <%= submit_tag "Fetch" ,:id => "fetch" %>
    </form>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function(){
    var regex = /<br\s*[\/]?>/gi;
    $("#submit").removeAttr('data-disable-with');
    $("#fetch").removeAttr('data-disable-with');
    $("#codewars").hide();
    $("#search-form").on('submit',function(e){
      e.preventDefault();
      if($("#search").val() == ""){
        swal(
          'Ooops...!!!',
          'You need to enter something for me to search.',
          'error'
        )
      }else{
        $.ajax({
          url: "<%= search_assignments_path %>",
          type: "get",
          data: {
            type: 'json',
            search: $("#search").val()
          },
          success: function(response){
            if(response.length == 0){
              $("#codewars").show();
            }else{
              $('.results').empty();
              $('.results').append("You might want to check with these assignments these look similar.");
              $('.results').append("<ul>");
              response.forEach(function(r){
                $('.results').append("<li><a href=\"#\" id=" + r.id + " class=\"link\" value=/assignments/" + r.id +">" + r.title +"</a></li>");
              });
              $('.results').append("</ul>");
            }
            $(".link").on('click',function(e){
              e.preventDefault();
              $.ajax({
                  url: $(this).attr("value"),
                  dataType: "json",
                  type: "get",
                  success: function(response){
                    $(".modal-title").html("<p><b>" + response["title"] + "</b></p>");
                    $(".modal-body").html(response["body"].replace(regex,"\n"));
                  }
                });
              $("#myModal").modal('show');
            });
          }
        });
      }
    });//search form end

    $("#codewars-form").on('submit',function(e){
      e.preventDefault();
      if($("#input").val() == ""){
        swal(
          'Ooops...!!!',
          'You need to enter something for me to search.',
          'error'
        )
      }else{
        var slug = $("#input").val();
        $.ajax({
          url: "<%= findslug_assignments_path %>",
          type: "get",
          data: {
            name: slug
          },
          success: function(response){
            if(response["success"] == false){
              swal(
                'Not found on codewars ensure you typed the slug name properly.'
              )
            }else{
              $("#assignment_title").val(response["name"]);
              CKEDITOR.instances['assignment_body'].setData(response["description"]);
              $("#assignment_url").val(response["url"]);
              $("#assignment_tag_list").val(response["tags"].join(","));
              $("#assignment_source").val("codewars");
            }
          }
        });
      }
    });



  });
</script>
