<% @a = current_user.answers.map{|n| n.id} %>
<div class="col-md-4 pull-right">
  <div>
    <input type="checkbox" name="favourite" class="glyphicon glyphicon-heart" data-toggle="tooltip" title="Favourite" id="fav" "<%= '/checked/' if !@flag.nil? %>"></input>
    <b><span class="right">Favourite</span></b>

      <div class="link padding-bottom pull-right" hidden="true" id="link">
        <%= link_to 'Next question', random_assignments_path(id: @assignment.id,type: "next") ,class: "btn btn-primary margin-left" %>
      </div>
      <div class="link padding-bottom pull-right">
          <%= link_to 'skip', random_assignments_path(id: @assignment.id,type: "skip") ,class: "btn btn-primary" %>
      </div>
  </div>
  <br>
<p>
  <strong>Tags:</strong>
  <%= @assignment.try(:tag_list) %>
  <%= @assignment.try(:company_list) %>
</p>
<p>
  <strong>Title:</strong>
  <%= @assignment.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= raw(@assignment.body) %>
</p>

<p>
  <strong>Url:</strong>
  <%= @assignment.url %>
</p>

<% if can? :update, @assignment %>
<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<% end %>

<%= link_to 'Back', assignments_path %>

</div>

<% if can? :create,Answer %>
  <% if @rb.size == 3 && @js.size == 3 && @py.size == 3 %>
    <p>Solutions are already given for this question solve something else.</p>
  <%  else %>
    <%= render '/home/index' %>
    <% end %>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    $("#fav").on('change',function(){
      if($(this).is(':checked')){
        var favourites = {}
        favourites["favourites"] = {}
        favourites["favourites"]["user_id"] = "<%= current_user.id %>"
        favourites["favourites"]["assignment_id"] = "<%= @assignment.id %>"
        $.ajax({
          url: '/favourites',
          type: 'post',
          data: favourites,
          success: function(response){
            swal(
              'success'
            )
          }
        });
      }else{
        $.ajax({
          url: '/favourites',
          type: 'delete',
          data: {
            user_id: "<%= current_user.id %>",
            assignment_id: "<%= @assignment.id %>"
          },
          success: function(response){
            swal(
              'success'
            )
          }
        });
      }
    });
  });
</script>
