<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @assignment.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @assignment.body %>
</p>

<p>
  <strong>Url:</strong>
  <%= @assignment.url %>
</p>

<%= render '/home/index' %>

<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %>
