<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @assignment.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @assignment.body %>
</p>

<p>
  <strong>Url:</strong>
  <%= @assignment.url %>
</p>

<% if can? :create,Answer %>
<%= render '/home/index' %>
<% end %>

<% if can? :update, @assignment %>
<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<% end %>

<%= link_to 'Back', assignments_path %>
