<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button> -->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="col-md-4 pull-right">
<p>
  <strong>Title:</strong>
  <%= @assignment.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= raw(@assignment.body) %>
</p>

<p>
  <strong>Url:</strong>
  <%= @assignment.url %>
</p>

<% if can? :update, @assignment %>
<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<% end %>

<%= link_to 'Back', assignments_path %>
</div>

<% if can? :create,Answer %>
  <% if @rb.size == 3 && @js.size == 3 && @py.size == 3 %>
    <p>Solutions are already given for this question solve something else.</p>
  <%  else %>
    <%= render '/home/index' %>
    <% end %>
<% end %>
