<%= form_for @user do |f| %>

  <% if @user.errors.any? %>
      <div id="error_explanation">
				      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
              <ul>
				      <% @user.errors.full_messages.each do |message| %>
				        <li><%= message %></li>
				      <% end %>
				      </ul>
        </div>
    <% end %>

    <div class="col-md-4">

    <div class="columns">
        <%= f.label :username %>
        <%= f.text_field :username , class: "form-control"%>
    </div>

    <div class="columns">
      <%= f.label :email %>
      <%= f.text_field :email ,class: "form-control" %>
			</div>

      <div class="columns">
        <%= f.label :role_ids %>
        <%= f.collection_check_boxes :role_ids, Role.all, :id, :name  %>
			</div>

        <div class="columns">
          <%= f.submit "Invite", class: "btn btn-success"%>
        </div>


        <% end %>

      </div>
