<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @answer.user_id %>
</p>

<p>
  <strong>Statement:</strong>
  <%= @answer.statement %>
</p>

<p>
  <strong>Output:</strong>
  <%= @answer.output %>
</p>

<%= link_to 'Edit', edit_answer_path(@answer) %> |
<%= link_to 'Back', answers_path %>
