<div class="col-md-4" >
<h1>Listing Tags</h1>
  <div id="tags">
  <% @tags.each do |t| %>
  <li><%= t.name %> - <%= t.taggings_count %></li>
  <% end %>
  </div>
</div>

<div id="tag-form">
  <div class="col-md-4">
   <div class="header">
      <h2>Add Tag</h2>
    </div>
     <%= form_for(ActsAsTaggableOn::Tag.new, url: "/tags", html: {id: "formtag"}, remote: true) do |f| %>
           <div class="form-group">
             <%= f.label :name %><br>
             <%= f.text_field :name, class: "form-control" %>
           </div>
          <%= f.submit "Create", class: "btn btn-default" %>
          <% end %>
  </div>
</div>
<button type="button" name="Form" class="btn btn-default" id="btn">Add Tag</button>

<script type="text/javascript">
  $(document).ready(function(){
    $("#tag-form").hide();
    $("#btn").on('click',function(){
      swal(
        'Just so you know',
        "You know you can just create a tag also by just adding it in a question we'll create it for you.",
        'info'
      )
      $("#tag-form").show();
      $("#btn").hide();
    });

    $("#formtag").on('submit',function(){
      $("#tag-form").hide();
      $("#btn").show();
    });

  });
</script>
