
<div class="form-signin">
<h2 class="form-signin-heading">Log in</h2>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <%= f.label :username ,class: "sr-only" %><br />
    <%= f.text_field :username, autofocus: true , class: "form-control" ,placeholder: "Username"%>



    <%= f.label :password ,class: "sr-only" %><br />
    <%= f.password_field :password, autocomplete: "off",class: "form-control",placeholder: "Password",id: "pass" %>

    <input type="checkbox" id="show"> Show

  <% if devise_mapping.rememberable? -%>
    <div class="checkbox">
      <label><%= f.check_box :remember_me %> Remember me</label>
    </div>
  <% end -%>

    <%= f.submit "Sign in" ,class: "btn btn-lg btn-primary btn-block"%>

<% end %>
<%= render "devise/shared/links" %>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $("#show").on('change',function(){
      if($(this).is(":checked")){
        $("#pass").prop("type","text");
      }else{
        $("#pass").prop("type","password");
      }
    });
  });
</script>
