<!DOCTYPE html>
<html>
  <head>
    <title>Cc</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
	 crossorigin="anonymous">
	<link rel="stylesheet" href="/stylesheets/codemirror.css">
	<link rel="stylesheet" href="/stylesheets/eclipse.css">
  <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">



  </head>

  <body>
    <div class="container-fluid">

      <!-- <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" -->
      <!-- crossorigin="anonymous"></script> -->

      <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
      crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
      crossorigin="anonymous"></script>
      <script src="/javascripts/codemirror.js"></script>
      <script src="/javascripts/javascript/javascript.js"></script>
      <script src="/javascripts/ruby.js"></script>
      <script src="/javascripts/python.js"></script>
      <script src="/javascripts/javascript.js"></script>
      <script src="/javascripts/sublime.js"></script>
      <% if current_user %>
    		<%= link_to "Log-out", destroy_user_session_path ,method: :delete, data: {confirm: "Are You Sure?"}%>
    		<span><%= current_user.username %></span>
    	<% else %>
    		<%= link_to "Log-in" , new_user_session_path %>
        <%= link_to "sign-up",new_user_registration_path %>
    	<% end %>

    <%= yield %>
  </div>



  </body>
</html>
