<!DOCTYPE html>
<html>
<head>
  <title>cc</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">


  <!-- Bootstrap CSS -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


  <!-- ckeditor -->
  <script src="https://cdn.ckeditor.com/4.7.3/standard/ckeditor.js"></script>

  <!-- sweet alert 2 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.11.4/sweetalert2.all.js" integrity="sha256-c0+AvbVv3lvLpN+Z62FyWFP5up0LfGELvEYbcow9nco=" crossorigin="anonymous"></script>

  <!-- fonts -->
  <link rel="stylesheet" href="/font-mfizz/font-mfizz.css">


  <!-- codemirror stylesheets -->
  <link rel="stylesheet" href="/stylesheets/codemirror.css">
  <link rel="stylesheet" href="/stylesheets/eclipse.css">
  <link rel="stylesheet" href="/stylesheets/monokai.css">
  <!-- datatable -->
  <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

</head>

<body id="main">

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">QB</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <% if current_user %>
        <ul class="nav navbar-nav">
          <% if current_user.roles.map{|n| n.name}.include? "admin" %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Assignment<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "New", new_assignment_path %></li>
              <li><%= link_to "Search", search_tags_path %></li>
              <li><%= link_to "List", assignments_path %></li>
              <li><%= link_to "Pending Approval", approve_assignments_path %></li>
              <li><%= link_to "Recently Added", recents_assignments_path %></li>
              <li><%= link_to "Api available" , approved_assignments_path %></li>
              <li><%= link_to "Deleted" , deleted_assignments_path %></li>
              <li><%= link_to "Make api available" , approval_assignments_path %></li>
            </ul>
          </li>
          <li><%= link_to "Add List",new_list_path %></li>
        </ul>
        <% end %>
        <% if current_user.roles.map{|n| n.name}.include? "admin" %>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Answers<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "List", answers_path %></li>
              <li><%= link_to "Recently Added", recents_answers_path %></li>
            </ul>
          </li>
          <% end %>

          <% if current_user.roles.map{|n| n.name}.include? "admin" %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Users", users_path %></li>
              <li class="dropdown-submenu"><%= link_to "Tags", tags_path %></li>
              <li><%= link_to "Sources", sources_assignments_path %></li>
            </ul>
          </li>
          <% end %>
          <li><%= link_to "my forks", forks_myforks_path %></li>
          <li><%= link_to "Log-out", destroy_user_session_path ,method: :delete, data: {confirm: "Are You Sure?"}%></li>
          <li><a href="">Welcome <%= current_user.username %></a></li>
          <li><a href="">Personal Stats: <i class="icon-javascript" style="font-size:1em"><%= Answer.where(user_id: current_user.id,language: "javascript").size %></i> || <i class="icon-python" style="font-size:1em" ><%= Answer.where(user_id: current_user.id,language: "python").size  %></i> || <i class="icon-ruby" style="font-size:1em"  ><%= Answer.where(user_id: current_user.id,language: "ruby").size  %></i></a></li>
          <% else %>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Log-in" , new_user_session_path %></li>
          </ul>
          <% end %>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>


  <div class="container-fluid">

    <%= yield %>

  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="/javascripts/codemirror.js"></script>
  <script src="/javascripts/javascript/javascript.js"></script>
  <script src="/javascripts/ruby.js"></script>
  <script src="/javascripts/python.js"></script>
  <script src="/javascripts/javascript.js"></script>
  <script src="/javascripts/sublime.js"></script>

</body>
</html>
